.elements__item {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 282px;
}

@media screen and (max-width: 1023px) {
    .elements__item {
      height: 361px;
    }
}
